[submodule "Front-app"]
	path = Front-end-app
	url = https://github.com/Slyracoon23/DeedsDao-app
[submodule "Contracts"]
	path = Contracts
	url = https://github.com/balancer-labs/balancer-v2-monorepo
